body{
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

#timeLengths{
  display:inline-flex;
  padding: 30px;
  column-gap: 100px;

  height:100%;
}
#buttonLengthContainer{
  display:grid;
  grid-template-columns: 50px 200px 50px;
  justify-content: center;
  align-items: center;
}
#divLengthName{
  position:absolute;
}